<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= user %></title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/source_tab.css" />
    <link rel="stylesheet" href="/css/styles.global.css" />
  </head>

    <%- include("partials/header", {newsCount}) %> <%-
    include("partials/spinner") %> <%- include("partials/toast") %> <%-
    include("partials/source_tab") %>
    
    <section class="card-section">
      <div class="empty-msg-section">
        <% if (newsItem.length == 0) { %>
        <h3 class="empty-msg-heading">
          @<%= username %> hasn't stored news article
        </h3>
        <p class="empty-msg-text">
          Once they do, those news articles will appear here.
        </p>
        <% } %>
      </div>

      <% newsItem.forEach(article => { %>
      <a
        href="<%= article.link %>"
        target="_blank"
        style="text-decoration: none; color: inherit"
      >
        <div class="card container">
          <div class="card-image-container">
            <img
              src="<%= article.image %>"
              alt="News Image"
              class="card-image"
            />
            <div class="card-source-overlay">
              <% if (article.source) { %><%= article.source %> <% } else if
              (article.siteName) { %><%= article.siteName %> <% } else {
              %>Unknown <% } %>
            </div>
          </div>
          <div class="card-content">
            <h3 class="card-title"><%= article.title %></h3>
            <p class="card-description">
              <%= article.description.length > 200 ?
              article.description.slice(0, 200) + "..." : article.description %>
            </p>
          </div>
        </div>
      </a>
      <% }); %>
    </section>

    <div>
      <button class="fixed-button" onclick="openModal()">+</button>

      <div class="link-modal" id="modal">
        <div class="link-modal-content">
          <span class="modal-cross link-close-btn" onclick="closeModal()"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-x"
            >
              <path d="M18 6 6 18" />
              <path d="m6 6 12 12" />
            </svg>
          </span>
          <h2 class="link-modal-title">Bookmark News Article</h2>

          <input
            type="text"
            id="userInput"
            class="link-modal-input"
            placeholder="News article URL"
          />
          <div class="link-modal-buttons">
            <button class="link-modal-submit-btn" onclick="submitInput()">
              Submit
            </button>
            <button class="link-modal-cancel-btn" onclick="closeModal()">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
    <button id="scrollToTopBtn" class="scroll-to-top-btn">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-move-up"><path d="M8 6L12 2L16 6"/><path d="M12 2V22"/></svg>
    </button>

    <script src="/Js/home.js"></script>
  </body>
</html>
